html {
  box-sizing: border-box;
}
*,
**::before,
::after {
  box-sizing: inherit;
}

.container {
  width: 1200px;
  display: flex;
  margin: auto;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background: pink;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid black 1px;
}

header {
  background: pink;
  height: 200px;
}

.logo {
  width: 600px;
}
.icons {
  display: flex;
  justify-content: end;
  width: 600px;
}

i {
  width: 45px;
  height: 45px;
}
img {
  height: 400px;
}

.info {
  display: flex;
}

div .info > #news,
#specials,
#locations {
  border: solid black 1px;
  height: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-align: start;
}
#news,
#specials,
#locations {
  width: 400px;
}
.special {
  background-image: url(./burger.jpeg);
  height: 190px;
  width: 349px;
  background-repeat: no-repeat;
  background-size: 106%;
  background-position-x: -10px;
  background-position-y: -2px;
  align-items: center;
  padding: 0;
  margin: auto;
}
h1 {
  border-bottom: 2px solid #ccc;
  text-align: center;
}
span {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  padding: 10px;
}
p {
  padding-left: 5px;
  margin: 5px 5px 2px 5px;
}
.bottom {
  display: flex;
}

.tabs {
  width: 900px;
  background: lightblue;
}

.photo {
  width: 300px;
  background: gray;
}
